<div id="savedGameListFilter">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input [(ngModel)]="filter"
           matInput
           required>
  </mat-form-field>
</div>
<div id="savedGameList">
  @for (game of filteredGames(); track game.id) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ game.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <a mat-button
           [routerLink]="['/board', game.id]">
          Continue
        </a>
        <button mat-button
                color="warn">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
